atomicwrites==1.4.0
attrs==21.2.0
certifi==2021.5.30
chardet==4.0.0
colorama==0.4.4
future==0.18.2
idna==2.10
iniconfig==1.1.1
jsonpath==0.82
packaging==21.0
pluggy==0.13.1
py==1.10.0
PyHive==0.6.4
PyMySQL==1.0.2
pyparsing==2.4.7
pytest==6.2.4
python-dateutil==2.8.1
requests==2.25.1
selenium==3.141.0
six==1.16.0
toml==0.10.2
urllib3~=1.25.11
xlrd==2.0.1
rsa~=4.7.2
xpinyin~=0.7.6
Paste~=3.5.0
numpy~=1.19.5